@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap");
/*box shadow*/
/* #171717 */
/* 
inspiration :
essentialdesigns.net/?utm_source=clutch.co&utm_medium=referral&utm_campaign=web-developers#process-03 

*/
#home {
  padding-top: 3rem;
  height: 76vh;
  width: 100vw;
}
#home h1 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
#home .btn-home-style-1 {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-weight: 500;
  backdrop-filter: blur(12px);
  transition: all 0.4s;
}
#home .btn-home-style-1:hover {
  background-color: rgba(128, 128, 128, 0.788);
}
#home .btn-home-style-2 {
  border: none;
  border-radius: 2rem;
  background-color: #6B46FF;
  color: white;
  padding: 1rem;
  font-weight: 500;
  backdrop-filter: blur(12px);
  transition: all 0.4s;
}
#home .btn-home-style-2:hover {
  background-color: rgba(107, 70, 255, 0.7176470588);
}

.glass-nav {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: 10px 0;
}

.glass-nav {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.navbar .nav-link {
  color: black;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #6B46FF;
}

.navbar {
  background: transparent !important;
  box-shadow: none;
}

.btn-style {
  border: none;
  background-color: #5403b1;
  border-radius: 0.6rem;
  color: #F8F3EC;
  font-weight: 500;
  padding: 1rem;
  font-size: 1.3rem;
  box-shadow: 0 0.5rem rgb(44, 2, 92);
}
.btn-style:hover {
  box-shadow: 0 0.3rem rgb(44, 2, 92);
}

.btn-style-2 {
  border: none;
  border-radius: 0.6rem;
  color: #F8F3EC;
  font-weight: 500;
  padding: 1rem;
  font-size: 1.3rem;
  box-shadow: 0 0.5rem rgb(44, 2, 92);
}
.btn-style-2:hover {
  box-shadow: 0 0.3rem rgb(44, 2, 92);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#about .h1-big {
  font-size: 10rem;
}
#about .h2-about {
  font-family: "glamora", Arial, Helvetica, sans-serif;
}
#about .container-portrait {
  /*     background-color: #F8F3EC; */
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*     box-shadow: 0.1rem 0.1rem 0.8rem rgb(105, 104, 104); */
}
#about .container-portrait .box-portrait {
  width: 270px;
  height: 270px;
}

.coverAbout {
  background: url("../src/sobre-mim.png") center center no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 500px;
  width: 100vw;
}

#portifolio .box-code {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}
#portifolio .box-code code {
  background-color: transparent;
  box-shadow: 0 0 0.1rem white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1.8rem;
  transition: all 0.4s;
}
#portifolio .box-code code:hover {
  transform: scaleX(85%);
}
#portifolio .card {
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 0.1rem white;
  color: white;
}
#portifolio .card .img-zoom {
  transition: all 0.3s ease-in-out, background-color 0.4s ease;
  filter: grayscale(90%);
  z-index: 1;
}
#portifolio .card .img-zoom:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}
@media (max-width: 400px) {
  #portifolio .card .custom-cols-xs > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.pre-footer {
  background: #fff;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #020816;
}
footer h2 {
  font-size: 1rem;
}

#social-network {
  color: #fefefe;
  background: #0A0A0A;
  padding: 15%;
}
#social-network span.instagram {
  font-weight: bold;
  font-size: 2rem; /* ajuste o tamanho que quiser */
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
#social-network .bi-instagram {
  font-size: 3rem;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.btn-insta {
  background-color: #fff;
  border: 1px solid #bc2a8d;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

.btn-insta p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #bc2a8d;
}

.btn-insta svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

.btn-insta:hover p {
  left: 0.6em;
  color: #fff;
}

.btn-insta:hover svg {
  opacity: 1;
}

.btn-insta:hover {
  background-color: #bc2a8d;
}

.specificationOne {
  background: #fff;
}

.specificationTwo {
  background: #0A0A0A;
  color: #fff;
}

.specificationTree {
  background: #fff;
}

@font-face {
  font-family: "Rabisco";
  src: url("../fonts/Rabisco.ttf") format("truetype");
}
@font-face {
  font-family: "glamora";
  src: url("../fonts/GLAMORA.otf") format("OpenType");
}
span {
  color: #6B46FF;
}

h2 {
  color: #6B46FF;
}

.fontOne {
  font-family: "glamora", Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

body {
  transition: transform 0.1s ease-out;
  will-change: transform;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.is-dark {
  background: linear-gradient(135deg, #050505 0%, #121212 100%);
  color: #eaeaea;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.05);
}

.is-light {
  color: #050505;
  background-color: #eaeaea;
}

.btn-home {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-home span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-home svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-home:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-home:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-home:hover span {
  transform: translateX(8em);
}

.btn-home:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
#section1 {
  height: 100%;
  width: 100vw;
  background-color: #F4F4F4;
}

.btn-01 {
  background-color: #050505;
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all 0.4s ease;
}
.btn-01:hover {
  background-color: rgba(5, 5, 5, 0.8823529412);
  border-radius: 1.3rem;
}

#section02 h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#contact {
  background-color: #020816; /* hsl(240, 100%, 94%) */
  color: white;
}

.button {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.5px 0.5px 150px #252525;
}

.button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type1::after {
  content: "Vamos lá";
  height: 50px;
  width: 170px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Fale comigo!";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* btn istagram */
.btn-instagram {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.5px 0.5px 150px #252525;
}

.btn-instagram:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type-2::after {
  content: url("../src/instagram.svg");
  height: 50px;
  width: 170px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  color: #fff;
  position: absolute;
  top: -50px;
  /* começa acima do botão */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.type-2::before {
  content: "Seguir";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #dd2a7b;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0) scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

/*text pra cima */
.type-2:hover::after {
  top: 0;
  /* desce para posição do botão */
  transform: scale(1.2);
}

.type-2:hover::before {
  top: -50px;
  /* sobe para fora do botão */
  transform: scale(0) rotate(120deg);
}

/* btn Whatsapp */
.btn-whatsapp {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.5px 0.5px 150px #252525;
}

.btn-whatsapp:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

.type-3::after {
  content: url("../src/whatsapp.svg");
  height: 50px;
  width: 170px;
  background-color: #25D366;
  color: #fff;
  position: absolute;
  top: -50px;
  /* começa acima do botão */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.type-3::before {
  content: "mensagem";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #25D366;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0) scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

/*text pra cima */
.type-3:hover::after {
  top: 0;
  /* desce para posição do botão */
  transform: scale(1.2);
}

.type-3:hover::before {
  top: -50px;
  /* sobe para fora do botão */
  transform: scale(0) rotate(120deg);
}

.painel-vs-code {
  height: 100%;
  width: 100%;
  background-color: #0D111F;
  box-shadow: 0 0 0.2rem #6B46FF;
  border-radius: 1.5rem;
  padding: 2rem;
  transform-style: preserve-3d;
  transform: rotateX(8deg);
  transition: transform 1s ease;
}

.painel-vs-code.is-visible {
  transform: rotateX(0deg);
}

figure {
  height: 100%;
  width: 100%;
}
figure .bola {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #6B46FF;
}
figure .colorRed {
  background-color: #EF4444;
}
figure .colorYelow {
  background-color: #EAB308;
}
figure .colorGreen {
  background-color: #22C55E;
}
figure .orange {
  color: orange;
}
figure .blue {
  color: #2563EB;
}
figure .purple {
  color: #732BBA;
}
figure .gray {
  color: gray;
}
figure .green {
  color: green;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  perspective: 1000px;
  /* adiciona profundidade real */
}

section {
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

#service {
  padding-bottom: 0;
  height: 100%;
  width: 100%;
}
#service i {
  color: #6B46FF;
}
#service .card {
  position: relative;
  color: white;
  background: transparent;
  height: 100%;
  max-width: 600px;
  margin-top: 0.5rem;
  box-shadow: 0 0 0.1rem white;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.4s ease;
}
#service .card-shine::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  transform: skewX(-25deg);
  opacity: 0;
}
#service .card-shine:hover {
  transform: translateY(-5px);
}
#service .card-shine:hover::before {
  opacity: 1;
  animation: shine 1s ease forwards;
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.wave {
  background: url("../src/wave-haikei.svg");
  height: 220px;
  width: 100%;
}

main {
  background-color: #020816;
  color: white;
}

/*# sourceMappingURL=style.css.map */
