@use "colors" as c;
#about{
    .h2-about{
    color: c.$cor-principal;
}
.container-portrait {
/*     background-color: #F8F3EC; */
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
/*     box-shadow: 0.1rem 0.1rem 0.8rem rgb(105, 104, 104); */
    .box-portrait {
        width: 270px;
        height: 270px;
    }
}
}