
$font-principal:"Poppins", serif;
$font-secundaria: "Lobster", serif;
$cor-principal: #008080;
$cor-destaque: #ffad32; 
$cor-principal-alpha: #747bff2d;
$cor-gradiente-01: #ffe7c2;
$cor-gradiente-02: #bdacff;
$cor01: #f9f9f9;
$cor02: #b8c0c7;
$cor03: #767f86;
$cor04: #3c4852;
$cor05: #00000043;
    /*box shadow*/
$shadow: 0 0.3rem 0.4rem 0.1rem #00000043;