@use "colors" as c;
.glass-nav {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px; 
  padding: 10px 0;
}

.glass-nav {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


.navbar .nav-link {
  color: black;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: white;
}

.navbar {
  background: transparent !important;
  box-shadow: none;
}
.btn-style {
    border: none;
    background-color: #5403b1ff;
    border-radius: 0.6rem;
    color: #F8F3EC;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0.5rem rgb(44, 2, 92);

    &:hover {
        box-shadow: 0 0.3rem rgb(44, 2, 92);
    }
}

.btn-style-2 {
    border: none;
    border-radius: 0.6rem;
    color: #F8F3EC;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0.5rem rgb(44, 2, 92);

    &:hover {
        box-shadow: 0 0.3rem rgb(44, 2, 92);
    }
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
