@use "colors" as c;
header{
    height: 100%;
    top: 0;
    position: sticky;
    z-index: 999;
.navbar {
    backdrop-filter: blur(8px);
.nav-link{

        color: c.$cor-principal;
        font-weight: 500;
        transition: all .4s;
        &:hover{
            color: c.$cor-destaque;
        }
}
}

}
.btn-style {
    border: none;
    background-color: #5403b1ff;
    border-radius: 0.6rem;
    color: #F8F3EC;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0.5rem rgb(44, 2, 92);

    &:hover {
        box-shadow: 0 0.3rem rgb(44, 2, 92);
    }
}

.btn-style-2 {
    border: none;
    border-radius: 0.6rem;
    color: #F8F3EC;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.3rem;
    box-shadow: 0 0.5rem rgb(44, 2, 92);

    &:hover {
        box-shadow: 0 0.3rem rgb(44, 2, 92);
    }
}
.txt-destaque{
    color: #5403b1ff;
}