@use "colors" as c;

.navbar-toggler {
  border: none;
  box-shadow: none;
  padding: 0.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 26px;
  height: 2px;
  background-color: black;
  transition: background 0.2s ease;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: black;
  left: 0;
  transition: transform 0.3s ease, top 0.3s ease;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}



.navbar-toggler.aberto .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.aberto .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler.aberto .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

/* feedback tátil */
.navbar-toggler:active {
  transform: scale(0.92);
}
