@use "colors" as c;
#home{
    height: 76vh;
    width: 100vw;
    h1{
        font-weight: 600;
font-family: 'Poppins', sans-serif;
    }
    .btn-home-style-1{
        border: none;
        border-radius: 2rem;
        padding: 1rem;
        font-weight: 500;
        backdrop-filter: blur(12px);
        transition: all .4s;
        &:hover{
            background-color: rgba(128, 128, 128, 0.788);
        }
    }
    .btn-home-style-2{border: none;
        border-radius: 2rem;
                background-color: #6B46FF;
        color: white;
        padding: 1rem;
        font-weight: 500;
        backdrop-filter: blur(12px);
        transition: all .4s;
        &:hover{
            background-color: #6b46ffb7;
        }

    }
}