@use "colors" as c;
#portifolio {
.box-code{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  code{
    background-color: transparent;
    box-shadow: 0 0 0.1rem white;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1.8rem;
    transition: all .4s;
    &:hover{
      transform: scaleX(85% );
    }
  }
}
  .card {
    overflow: hidden;
    background: transparent;
    box-shadow: 0 0 0.1rem white;
    color: white;

    .img-zoom {
      transition: all 0.3s ease-in-out, background-color 0.4s ease;
      filter: grayscale(90%);
      z-index: 1;

      &:hover {
        transform: scale(1.1);
        filter: grayscale(0%);
      }

    }

    @media (max-width: 400px) {
      .custom-cols-xs>* {
        flex: 0 0 50%;
        max-width: 50%;
      }

    }
  }
}