@use "colors" as c;

.coverPortifolio {
  background: url("../src/portifolio.png") center center no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 500px;
  width: 100vw;
}

#portifolio {
  .card {
    overflow: hidden;
    background: transparent;
    box-shadow: 0 0 .1rem white;

    .img-zoom {
      transition: all 0.3s ease-in-out, background-color 0.4s ease;
      filter: grayscale(90%);
      z-index: 1;

      &:hover {
        transform: scale(1.1);
        filter: grayscale(0%);
      }

    }

    @media (max-width: 400px) {
      .custom-cols-xs>* {
        flex: 0 0 50%;
        max-width: 50%;
      }

    }
  }
}