@use "home";
@use "header";
@use "about";
@use "portifolio";
@use "preFooter";
@use "footer";
@use "social-network";
@use "spacificationCategore";
@use "colors" as c;
@use "colors";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');
@font-face {
  font-family: 'Rabisco';
  src: url("../fonts/Rabisco.ttf") format("truetype");
}
@font-face{
  font-family: 'glamora';
  src: url("../fonts/GLAMORA.otf") format("OpenType");
}
h2{
  font-family: 'Rabisco';
  color: hsl(240, 100%, 90%);
}
.fontOne{
  font-family: 'glamora', Arial, Helvetica, sans-serif;
  font-size: 3rem;
}
body {
  overflow-x: hidden;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.is-dark {
  background: linear-gradient(135deg, #050505 0%, #121212 100%);
  color: #eaeaea;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.05);
}

.is-light {
  color: #050505;
  background-color: #eaeaea;
}

.btn-home {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-home span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-home svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-home:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-home:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-home:hover span {
  transform: translateX(8em);
}

.btn-home:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
#section1{
  height: 100%;
  width: 100vw;
  background-color: #F4F4F4;
}
.btn-01{
  background-color: #050505;
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all .4s ease;
  &:hover{
    background-color: #050505e1;
    border-radius: 1.3rem;
  }
}
#section02{
  h1{
    font-weight: 500;
    font-size: 2.5rem;
  }
}
#contact{
  background-color: hsl(240, 100%, 94%);
}
.button {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
   box-shadow: .5px .5px 150px #252525;
}

.button:hover {
  box-shadow: .5px .5px 150px #252525;
}

.type1::after {
  content: "Vamos lá";
  height: 50px;
  width: 170px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Fale comigo!";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* btn istagram */
.btn-instagram {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.5px 0.5px 150px #252525;
}

.btn-instagram:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}


.type-2::after {
  content: url("../src/instagram.svg");
  height: 50px;
  width: 170px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  color: #fff;
  position: absolute;
  top: -50px; /* começa acima do botão */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}


.type-2::before {
  content: "Seguir";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #dd2a7b;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0) scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

/*text pra cima */
.type-2:hover::after {
  top: 0; /* desce para posição do botão */
  transform: scale(1.2);
}

.type-2:hover::before {
  top: -50px; /* sobe para fora do botão */
  transform: scale(0) rotate(120deg);
}

/* btn Whatsapp */
.btn-whatsapp {
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0.5px 0.5px 150px #252525;
}

.btn-whatsapp:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}


.type-3::after {
  content: url("../src/whatsapp.svg");
  height: 50px;
  width: 170px;
  background-color: #25D366;
  color: #fff;
  position: absolute;
  top: -50px; /* começa acima do botão */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}


.type-3::before {
  content: "mensagem";
  height: 50px;
  width: 170px;
  background-color: #fff;
  color: #25D366
;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0) scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

/*text pra cima */
.type-3:hover::after {
  top: 0; /* desce para posição do botão */
  transform: scale(1.2);
}

.type-3:hover::before {
  top: -50px; /* sobe para fora do botão */
  transform: scale(0) rotate(120deg);
}
