@use "home";
@use "header";
@use "about";
@use "portifolio";
@use "preFooter";
@use "footer";
@use "social-network";
@use "spacificationCategore";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');
@font-face {
  font-family: 'Rabisco';
  src: url("../fonts/Rabisco.ttf") format("truetype");
}
h2{
  font-family: 'Rabisco';
  color: hsl(240, 100%, 90%);
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.is-dark {
  background: linear-gradient(135deg, #050505 0%, #121212 100%);
  color: #eaeaea;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.05);
}

.is-light {
  color: #050505;
  background-color: #eaeaea;
}

.btn-home {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-home span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn-home svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn-home:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn-home:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn-home:hover span {
  transform: translateX(8em);
}

.btn-home:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
#section1{
  height: 100%;
  width: 100vw;
  background-color: #F4F4F4;
}
.btn-01{
  background-color: #050505;
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: all .4s ease;
  &:hover{
    background-color: #050505e1;
    border-radius: 1.3rem;
  }
}
#section02{
  h1{
    font-weight: 500;
    font-size: 2.5rem;
  }
}
#contact{
  background-color: hsl(240, 100%, 94%);
}